.background {grid-area: back}
.menu {grid-area: menuchinh}
.video1 {grid-area: video_1}
.video2 {grid-area: video_2}
.video3 {grid-area: video_3}
.video4 {grid-area: video_4}
.video5 {grid-area: video_5}
.footer {grid-area: footte}
.truyen {
    display: grid;
    grid-template-areas:
'back back back'
'menuchinh menuchinh menuchinh'
'video_1 video_5 video_5'
'video_2 video_5 video_5'
'video_3 video_5 video_5'
'video_4 video_5 video_5'
'footte footte footte';
}
.truyen > div {
    border: 1px solid black;
    background-color: lightgray;
    padding: 20px;
    margin: 1px;
}
a {
    text-decoration: none;
}

.tieuDe {
    display: inline-block;
    width: 13%;
    float: left;
    color: red;
    font-size: 15px;
    text-shadow: orange -2px -4px 0.5em;
}
iframe {
    width: 550px;
    height: 200px;
}
.videoChinh {
    width: 800px;
    height: 500px;
}
ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
li {
    color: olivedrab;
    float: left;
    display: inline-block;
    list-style: none;
    width: 15%;
    text-align: center;
    left: 20%;
    position: relative;
    line-height: 10px;
}
.background{
    position: sticky;
    top : 0;
}
.menu{
    position: sticky;
    top : 65px;
}

@media only screen and (max-width: 700px) {
    iframe {
        width: 150px;
        height: 80px;
    }
    .videoChinh {
        width: 250px;
        height: 100px;
    }
    .tieuDe {
        display: inline-block;
        width: 50%;
        float: left;
        color: red;
        font-size: 15px;
        text-shadow: orange -2px -4px 0.5em;
    }
}
